body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: #dcdcdc;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: left;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 100px;
    margin-left: 80px;
    margin-top: 0;
}

h2 {
    font-size: 20px;
    background-color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
    margin: 0;
    margin-top: 5px;
    padding-bottom: 10px;
    text-align: left;
}

h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    text-align: left;
    font-size: 24px;
    margin-left: 10px;
    border-bottom: 2px solid #bbb;
    padding-bottom: 20px;
}

p { 
    margin-bottom: 30px;
    padding-top: 10px;
}

.container {
    max-width: 1024px;
    margin: 0;
    padding-top: 30px;
    clear: both;
}

#main-bio {
    max-width: 960px;
    float: left;
    margin: 0;
    border: 1px solid #ddd;
    background-color: #ffffff;
    margin-left: 80px;
    height: 400px;
    padding: 20px;
}

#contact-info {
    float: left;
    margin: 0;
    clear: both;
}

#bio-image {
    width: 200px;
    float: left;
    padding: 10px;
    margin: 0;
    margin-left: 5px;
    margin-right: 5px;
    clear: both;
}

/* main */

.main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    border: 1px solid #ddd;
    background-color: #fff;
    margin: 0;
    margin-left: 80px;
}

#main-container {
    padding-top: 50px;
    min-height: calc(100vh - 50px);
}

.responsive {
    width: 100%;
    height: auto;
}

nav {
    padding-left: 80px;
    border-bottom: 1px solid #bbb;
    background-color: #fff;
    text-align: left;
    font-size: 16px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    float: right;
    text-align: center;
    margin-right: 130px;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 12px;
}

li:last-child {
    border-left: none;
}

li a {
    display: block;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    color: #d21034;
}

.active {
    background-color: #4aaaa5;
    color: white;
    width: 200px;
    text-decoration: none;
}

footer {
    font-size: 10px;
    background-color: #666666;
    color: #eee;
    height: 50px;
    border-top: 5px solid #4aaaa5;
    margin-top: 140px;
    padding-top: 20px;
    text-align: center;
}

.clear {
    clear: both;
}

/*contact page */

#contact-form {
    float: left;
    text-align: left;
    margin: 0;
    padding: 0;
    width: 100%;
}

#contact-form ul {
    margin-top: 10px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#contact-form li {
    margin-bottom: 10px;
    margin-top: 20px;
}

label,
input[type=text],
input[type=e-mail],
textarea {
    width: 100%;
    display: block;
}

input[type=text] {
    height: 35px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

input[type=e-mail] {
    height: 35px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
}

textarea {
    height: 200px;
}

input[type=submit] {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #ffffff;
    background: #4aaaa5;
    border: none;
}

/*portfolio page */

.work {
    float: left;
    margin: 40px;
    width: 200px;
    position: relative;
    overflow: auto;
}

.work:nth-child(even) {
    margin-right: 40px;
}

.work img {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    border: none;
    opacity: 0.8;
}

.work h3 {
    position: absolute;
    width: 200px;
    text-align: center;
    font-weight: 300;
    line-height: 5px;
    border-bottom: 0;
    bottom: 20px;
    padding: 15px;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #4aaaa5;
}

.auth-image {
    margin-top: 10px;
    margin-right: 20px;
    float: left;
    width: 200px;
    height: auto;
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
